<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Zone élève : Tableau de bord</title>
    <!-- Favicons -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <script src="../static/js/file.js"></script> -->

</head>
   
    <body class="bg-light">
        <form action = "http://localhost:5000/index" method = "get">
            <div>
                <h1 style="display: inline-block; letter-spacing: 0em; font-size: 2.4rem; font-weight: 700; line-height: 2">
                    Prédictions pour l'élève {{data_eleve.id_student}} à {{data_eleve.date}}% du cours
                </h1>
            </div>
            
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center">
                    {% for cours in data_OK %}
                        <div class="card text-white bg-success px-3 pb-2 pt-3 mx-3 my-3" style="width: 25rem;">
                            <p>Code module : {{cours.code_module}} </p>
                            <p>Code presentation : {{cours.code_presentation}} </p>
                            <p>Prédiction : {{cours.prediction}} </p>
                            <p>Résultat final réel : {{cours.final_result}} </p>
                            {% for pb in cours.proba %}
                                <p>{{pb.classe}} : {{pb.proba}}</p>
                            {% endfor %}   
                        </div>
                        <div class="card text-white bg-secondary px-3 pb-2 pt-3 mx-3 my-3" style="width: 25rem;">
                            {% for element in cours.f_importance.liste %}
                                <p>{{element.features}} : {{element.weights}}</p>
                            {% endfor %}
                        </div>
                        <figure>
                            <img src={{cours.f_importance.img}} width="700">
                        </figure>
                    {% endfor %}

                    {% for cours in data_alerte %}
                        <div class="card bg-warning px-3 pb-2 pt-3 mx-3 my-3" style="width: 25rem;">
                            <p>Code module : {{cours.code_module}} </p>
                            <p>Code presentation : {{cours.code_presentation}} </p>
                            <p>Prédiction : {{cours.prediction}} </p>
                            <p>Résultat final réel : {{cours.final_result}} </p>
                            {% for pb in cours.proba %}
                                <p>{{pb.classe}} : {{pb.proba}}</p>
                            {% endfor %}
                        </div>
                        <div class="card text-white bg-secondary px-3 pb-2 pt-3 mx-3 my-3" style="width: 25rem;">
                            {% for element in cours.f_importance.liste %}
                                <p>{{element.features}} : {{element.weights}}</p>
                            {% endfor %}
                        </div>
                        <figure>
                            <img src={{cours.f_importance.img}} width="700">
                        </figure>
                    {% endfor %}
                </div>
            </div>
            <input type = "submit" value = "Revenir à l'accueil" />
        <!-- <input type = "submit" value = "Soumettre" /> -->
      </form>
   </body>
</html>